.accordion {
    &__container {

    }

    &__title {
        margin-bottom: 4rem;
        text-align: center;
    }

    &__list-item {
        background: #000000;
        border: 1px solid #FFFFFF;
        border-radius: 15px;
    }

    &__list-item-title {
        padding: 2.5rem;
    }

    &__list-item-content {
        padding: 0 2.5rem 2.5rem 2.5rem;
    }
}

.uk-accordion-content {
    margin: 0;
}
