.accordion {
    &__container {

    }

    &__title {
        margin-bottom: 4rem;
    }

    &__list-item {
        border-bottom: 1px solid $borderColor;
        padding-bottom: 15px;
    }

    &__list-item-title {
        font-size: 1.7rem;
        margin: 0;
    }

    &__list-item-content {
        padding: 2.5rem 0;
    }
}

.uk-accordion-content {
    margin: 0;
}
