#particles-slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(15, 19, 27, 0.8588235294);
    border-radius: 15px;
}

.alt-slider {
    overflow: hidden;
    position: relative;

    &__container {
        position: relative;
        z-index: 10;
        padding: 20px 15px;
    }

    &__slider-container {
        z-index: 2;
    }

    &__slider-nav-btn {
        background: #fff;
        color: #1b1b1b;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__slider-nav-prev {
        margin-right: 85px;
    }
    
    &__slider-nav-next {
        margin-left: 85px;
    }
    
    &__title {
        text-align: center;
        font-size: 32px;
        color: #fff;
        margin-bottom: 15px;
        line-height: 38px;
        z-index: 2;
        position: relative;
    }
}

.alt-slide{
    &__title {
        margin: 10px 0 0 0;
        font-size: 32px;
        font-weight: 500;
    }

    &__text {
        opacity: 0;
        line-height: 150%;
        color: white;
    }
    
    &__button {
        opacity: 0;
        visibility: hidden;
        margin-top: 20px;
    }
    
    &__wrapper {
        padding: 0 15px;
        text-align: center;
        user-select: none;
        display: flex;
    
        flex-direction: column;
    
        align-items: center;
        gap: 10px;
        transition: 0.3s;
        transform: scale(0.7) translateY(40px);
    }

    &_center {
        .alt-slide__wrapper {
            transform: scale(1);
        }
    }
    
    &_center {
        .alt-slide__button {
            opacity: 1;
            visibility: visible;
        }
    }
    
    &_center {
        .alt-slide__text {
            opacity: 1;
        }
    }
}
