.articles {

    &__container {

    }

    &__title {

    }

    &__content {
        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    &__card {
        flex: 0 0 32%;
    }

    &__card-img-wrapper {}

    &__card-img {
    }

    &__card-title {
    }

    &__card-descr {}

    &__card-more-link {}

    &__more-btn {

    }
}

@include media($tablet){
    .articles {
        &__content {
            flex-direction: column;
            text-align: center;
        }
    }
}