.benefits {

    &__container {
        padding: 30px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 5px 0px 20px 0px rgba(0, 0, 0, 0.1);
        background: linear-gradient(0deg, #FBFCFCDD, #FBFCFCDD),
                    url(@img/backgrounds/white-abstract.jpg) no-repeat center/cover;
    }

    &__title {
        font-weight: 400;
        color: $titleColor;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
    }

    &__card {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 0 0 33%;
        padding: 20px;
        gap: 20px;
        border-right: solid $borderColor 2px;
        border-bottom: solid $borderColor 2px;

        &:nth-child(3n){
            border-right: unset;
        }

        &:nth-child(1n+4){
            border-bottom: unset;
        }
    }

    &__card-img-wrapper {
        padding: 1rem 1rem;
        border-radius: 10px;
        cursor: default;

        @include any-hover {
            color: $btnColor;
            background: $titleColor;
        }
    }

    &__card-image {
        width: 35px;
        height: 35px;
    }

    &__card-descr {
        width: 70%;
        min-height: 2em;
    }
}

@include media($mobile) { 
    .benefits {
        &__card {
            flex: 0 0 100%;
            border-right: unset;
    
            &:nth-child(1n+4){
                border-bottom: solid $borderColor 2px;
            }

            &:nth-last-child(1) {
                border-bottom: unset;
            }
        }
    
        &__card-image {
            width: 40px;
            height: 40px;
        }
    
        &__card-descr {
            width: 100%;
        }
    }
}