.promo {

    &__container {
    }

    &__content {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: center;
    }

    &__content-item-wrapper {
        flex: 0 0 49%;
    }

    &__banner-wrapper {}

    &__banner {}

    &__video-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    &__video {
        
    }

    &__video-descr {
        text-align: center;
    }
}


@include media($mobile){
    .promo {
        &__content {
            flex-direction: column;
        }
    }
}