* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html {
    font-size: 12px;
}

body {
    background-color: $bodyColor;
    overflow-y: hidden;
    font-family: 'Circe';
    line-height: 1.5;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1440px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

a{
    color: $btnColor;
    transition: .3s;

    @include any-hover {
        color: $btnHoverColor;
    }
}

section{
    margin-top: 4rem;
}

input{
    &:focus{
        border-color: $btnHoverColor;
    }

    &:focus-visible {
        outline: none;
        text-indent: 5px;
    }
}

select{
    &:focus{
        border-color: $btnHoverColor;
    }
}

textarea{
    &:focus{
        border-color: rgba(255, 121, 31, 1);
    }

    &:focus-visible {
        outline: none;
        text-indent: 5px;
    }
}

.uk-input, .uk-select, .uk-textarea {
    transition: 0.3s;
    font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.5em;
}
h3, h4, h5, h6 {
    font-size: 2em;
}
p {
    font-size: 1.5rem;
}

.text{
    color: $textColor;
    font-size: 1.5em;
    font-weight: 400;

    &_huge{
        color: $textColor;
        font-size: 2em;
    }

    &_large{
        color: $textColor;
        font-size: 1.75em;
    }
    
    &_small{
        color: $textColor;
        font-size: 1.25em;
    }
    
    &_bold{
        font-weight: 700;
    }

    &_light_bold{
        font-weight: 500;
    }
}

.btn{
    cursor: pointer;
    transition: .3s;
    color: $btnColor;
    background: $btnBgColor;
    font-size: 1.7em;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @include any-hover {
        opacity: .8;
        background: $textColor;
    }

    &:focus {
        outline: none;
        background: $textColor;
    }
}

@include media($tablet) {
    html {
        font-size: 11px;
    }
}

@include media($mobile) {
    html {
        font-size: 10px;
    }
}