$laptop: 1440;
$tablet: 1100;
$mobile: 768;

$bodyColor: #F5F5F5;
$frameColor: #F3F2F0;

$textColor: #282828;
$titleColor: #113D63;

$linkColor: #F5F5F5;
$linkBgColor: #237FCF;

$linkHoverColor: #282828;
$linkHoverBgColor: #DCDCDC;

$lightBlueColor: #6EC1E4;