$laptop: 1440;
$tablet: 1100;
$mobile: 768;

$bodyColor: #F5F5F5;
$frameColor: #F3F2F0;

$textColor: #282828;
$textColorBlue: #6EC1E4;
$titleColor: #113D63;

$btnColor: #F5F5F5;
$btnBgColor: #237FCF;

$btnHoverColor: #282828;
$btnHoverBgColor: #DCDCDC;