@use 'sass:math';

/** Подключение шрифтов локально из папки "./src/fonts" */
@import 'config/fonts';

/** Подключение переменных */
@import 'config/vars';

/** Подключение sass function и mixins и extends стилей */
@import 'config/functions';
@import 'config/mixins';
@import 'config/keyframes';

/** Общие параметры, шаблоны(заготовки) и вспомогательные классы */
@import 'config/base';

/** БЕМ блоки используемые во всё проекте */
@import 'config/common';

/** Подключение стилей отдельных блоков и секций */
@import 'components/header';
@import 'components/footer';

@import 'components/banner';
@import 'components/benefits';
@import 'components/services';
@import 'components/problems';
@import 'components/steps';
@import 'components/price';
@import 'components/staff-gallery';
@import 'components/calculator';
@import 'components/staff-gallery';
@import 'components/centered-gallery';
@import 'components/promo';
@import 'components/articles';
@import 'components/gallery';
@import 'components/reviews';
@import 'components/callback';
@import 'components/recall';

@import 'components/price-table';
@import 'components/sidebar';
@import 'components/staff';

@import 'components/accordion';